<%- include("./partials/head") %>

<body class="body">
    <div class="gridContainer">
        <div class="aside">
            <a class="tilbake" href="/"><p>Tilbake</p></a>
            <br>
            <!-- Dynamisk genererte linker til hver seksjon -->
            <% guide.overskrift.forEach((heading, index) => { %>
                <% if (index === 0) { %>
                    <a class="borgir" href="#intro"><p>Intro</p></a>
                <% } else if (index === guide.overskrift.length - 1) { %>
                    <a class="borgir" href="#avsluttning"><p>Avsluttning</p></a>
                <% } else { %>
                    <a class="borgir" href="#info<%= index %>"><p>Info <%= index %></p></a>
                <% } %>
            <% }) %>
        </div>

        <div class="mainContainer">
            <h1><%= guide.tittel %></h1>
            <img src="<%= user && user.avatar ? user.avatar : `https://ui-avatars.com/api/?name=${guide.forfatter}` %>" alt="Profile" title="<%= guide.forfatter %>" class="profile-avatar" />

            <!-- Dynamisk rendering av hver seksjon -->
            <% guide.overskrift.forEach((heading, index) => { %>
                <div class="section" id="<%= index === 0 ? 'intro' : (index === guide.overskrift.length - 1 ? 'avsluttning' : 'info' + index) %>">
                    <div class="seksjonTekst">
                        <h2><%= heading %></h2>
                        <p><%= guide.beskrivelse[index] %></p>
                    </div>
                    <% if (guide.imgFile[index]) { %>
                        <img class="guideImg" src="/uploads/<%= guide.imgFile[index].split('/').pop() %>" alt="Bilde til seksjon <%= index %>">
                    <% } %>
                </div>
            <% }) %>

        </div>
    </div>
</body>
</html>
